body {
  background-image: url("https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg"); 
  /* 
    sunny: https://static.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg
    rainy: https://static.pexels.com/photos/1553/glass-rainy-car-rain.jpg
    cloudy: https://static.pexels.com/photos/314726/pexels-photo-314726.jpeg
    mist: https://static.pexels.com/photos/89773/wolf-wolves-snow-wolf-landscape-89773.jpeg;
  */
  background-size: cover;
  background-repeat:no-repeat;
} 

.container {
  margin-top: 200px;  
}

#content {
  background-color:rgba(255,255,255,0.6);
  border-radius:25px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#temp {
  font-size: 120px;
}

#fill {
  color: rgba(255,255,255,0);
}

i {
	margin-left: 10px;
}
